<%- include("layout/header") %>

<div class="about">
  <h3 class="m-4">Contact us</h3>
  <h5 class="px-4"><i class="fa-brands fa-whatsapp"> </i> 08xxxxxxx</h5>
  <h5 class="px-4"><i class="fa-solid fa-envelope"></i> insafku@gmail.com</h5>
</div>

<%- include("layout/footer") %>
